@import 'fonts';
@import 'header.scss';
@import 'zeroing.scss';


body{
    margin:0;
}


.main-item{
  position: relative;
  max-width:100%;
 min-height: 100%;
&__content{
  position: relative;
  z-index: 2;
  text-align: center;
  justify-content: center;

  
}

.title-item{
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
  letter-spacing: 3px;
  text-shadow: black 1px 1px 0, black -1px -1px 0, 
  black -1px 1px 0, black 1px -1px 0;
  color:white;
  padding-top: 375px/1200px *100%;
}
&__bg {
  position: absolute;
  width:100%;
  height:100%;
  top: 0;
  left: 0;

  img{
    width:100%;
  }
}
}


a{
  text-decoration: none;
}
.btn{
  display:inline-flex;
  padding:  0px 0px;
  position: relative;
  background-color: #F7B72A;
  height: calc(25px + (35 - 25) * ((100vw - 320px) / (1200 - 320)));
  width: calc(50px + (100 - 50) * ((100vw - 320px) / (1200 - 320)));
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  color:black;
  font-size:  calc(8px + (14 - 8) * ((100vw - 320px) / (1200 - 320)));
  span{
  display:block;
  position: relative;
  padding-top: 10px;
  }
  
}


.text{
  margin-top: calc(50px + (300 - 50) * ((100vw - 320px) / (1200 - 320)));
  &__container{
    display: block;
    justify-content: center;
    text-align: center;
    padding:15px;
    background-color:rgba(255, 215, 180, 0.2);
    max-height: 90px;
    max-width: 1140px;
    margin: calc(50px + (100 - 50) * ((100vw - 320px) / (1200 - 320))) auto;
    
}
span{
  border:3px solid black;
  font-size:calc(12px + (18 - 12) * ((100vw - 320px) / (1200 - 320)));
  display:block;
  position: relative;
  padding: 10px;
}
}
.description{
  justify-content: center;
    text-align: center;
  &__container{
    display: block;
    justify-content: center;
    text-align: center;
    max-width: 1140px;
    margin: calc(50px + (100 - 50) * ((100vw - 320px) / (1200 - 320))) auto;
    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1200 - 320)));
    line-height: 2;
  }
}
// -------------HEAD BOTTLE-----------
.foto-bottle{
  margin-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1200 - 320)));
}
.background-media-text__text--framed{
  border:7px solid #fff;
  box-shadow:inset 0 0 0 2px #000;
}
.foto-man{
  position: relative;
  width:100%;
  height:calc(400px + (1300 - 400) * ((100vw - 320px) / (1200 - 320)));
  
}
.magaz{
  height:calc(300px + (600 - 300) * ((100vw - 320px) / (1200 - 320)));
}
.foto-rezept{
    position: relative;
    margin-left:auto;
    margin-right: 50px;
    z-index:2;
    max-width:380px;
    background-color: white;
  
  
  &__container{
    position: absolute;
    text-align: left;
    padding: 30px;
    margin:50px;
    z-index:2;
    background-color: white;
    
   
  }
 &__subtext{
  font-size:  calc(12px + (20 - 12) * ((100vw - 320px) / (1200 - 320)));
  font-weight: 200;
  // line-height: 1.5;
 }
  

  &__btn{ 
    width:  calc(75px + (150 - 75) * ((100vw - 320px) / (1200 - 320)));
   
  }
}

.foto-bg{
  overflow: hidden;
  position: relative;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
 ;
  
  img{
    width:100%;
    object-fit: cover;
    object-position: center;
    
  }
}

.caption-h5{
      
  letter-spacing: 0.3em;
  margin-bottom: 10px;
  font-size:  calc(12px + (14 - 12) * ((100vw - 320px) / (1200 - 320)));;
}
  .caption-h3{
font-weight: 400;
line-height: 1.2;
text-transform: uppercase;
font-size:  calc(12px + (20 - 12) * ((100vw - 320px) / (1200 - 320)));;
  }
.bottle-menu{
  display: flex;
    text-align: center;
    justify-content: center;

}
.button-rezept{
  margin-top: 15px;
}
  .bottle{
    &__image{
      img{
        max-width: 100%;
        object-fit: cover;
      }
    }
    &__title{
      font-size: 18px;
color:black;
    }
    

  }

  // --------CURCAMA-ESSEN------
.curcama-essen{
  display:flex;
  justify-content: center;
  margin-top: calc(25px + (100 - 25) * ((100vw - 320px) / (1200 - 320)));
  .essen-bottle{
    max-width: 600px;
    img{
      max-width: 100%;
      object-fit: cover;
    }
  }
  .description-curcama{
    max-width: 600px;
  }

}

.description-curcama{
  display: flex;
  width: calc(320px + (600 - 320) * ((100vw - 320px) / (1200 - 320)));
  flex-direction: column;
  text-align: center;
  &__header{
    .essenz{
      font-size: 24px;
      letter-spacing: 1;
    }
    .cost{
      padding-top: 16px;
      font-size: 18px;
    }
  }
  &__button-shop{

    .basket-shop{
      font-size:18px;
      display: block;
      justify-content: center;
      text-align: center;
      max-height: 50px;
      width: calc(320px + (600 - 320) * ((100vw - 320px) / (1200 - 320)));
      margin-top:20px;
      span{
        border:2px solid black; 
        color:black;
        display:block;
        position: relative;
        padding: 10px;
        

      }
    }
    .shop{
      font-size:18px;
      display: block;
      justify-content: center;
      text-align: center;
      max-height: 50px;
      width: calc(320px + (600 - 320) * ((100vw - 320px) / (1200 - 320)));
      margin-top:20px;
      span{
        display:block;
        color:black;
        position: relative;
        padding: 10px;
        background-color: #F7B72A;
      }
    }
   
  }
  &__photo{
    margin-top:20px;
    img{
      max-width:100%;
      object-fit: cover;
    }
  }
  &__text{
    margin-top: 20px;
    .text-die{
     font-size: 20px;
     line-height: 1.5;
    }
  }
  &__ingredients{
    margin-top:40px;
    .topic{
      font-size: 20px;
    }
    .products{
     
    }

    
  }
  &__ingredients-img{}
}



.composition{
  display:flex;
  flex-direction: column;
  .photo-ingredients{
    display:flex;
    margin-top: 45px;
    img{
      max-width:100%;
    }
  }
}
.fruit{
  &__discription{
    text-align: center;
    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1200 - 320)));
  }
}

// <!- CARD-REZEPT --->
.card-rezept{
  text-align: center;
  justify-content: center;
  margin-top: 130px;
  .top-name{
    font-size: 24px;
  }
  .all-rezept-btn{
    font-size:14px;
      justify-content: center;
      text-align: center;
      margin-top:30px;
      span{
        border:2px solid rgb(213, 212, 212); 
        position: relative;
        padding: 10px;
        letter-spacing: 3px;

      }
  }
  .all-rezept-btn{
    a{
      color:black;
    }
   
  }
}
.rezept{
  display: inline-flex;
  text-align: center;
    justify-content: center;
}
.rezept-foto{
  &__img{
    max-width:350px;
    img{
      max-width: 100%;
    }
  }
  &__name{
    font-size: 18px;
  }
}
.text-decor{
  color:black;
}
// ------------FOTO  HAND BOTTLE
.foto-hand-bottle{
  margin-top: 100px;
}
.btn-right{
  margin-top:10px;
    text-transform: uppercase;
  color:black;
  
}
.right{
  margin-left:0 !important;

}

// ---------------REVIEW
.review{
  text-align: center;
  justify-content: center;
  margin-top: calc(50px + (130 - 50) * ((100vw - 320px) / (1200 - 320)));
}
.qestion{
  font-size: 24px;
}
.people-text{

}
.people-review{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    margin-top:calc(30px + (100 - 30) * ((100vw - 320px) / (1200 - 320)));
    &__1{
      max-width:400px;
      font-size: 18px;
      line-height: 1.5;
      text-align: left;
    }
}
.centre{
  padding-right: 10px;
}
// -------FOTO SHOP--------
.foto-shop{
  margin-top:calc(30px + (100 - 30) * ((100vw - 320px) / (1200 - 320)));
}

// ---------------CURCAMA PRODUCT REZEPT---------
.curcama-product-rezept{
  display:flex;
  text-align: center;
  justify-content: center;
  margin-top: calc(30px + (100 - 30) * ((100vw - 320px) / (1200 - 320)));
}
.curcama-product, .curcama-rezept {
  // width:calc(320px + (600 - 320) * ((100vw - 320px) / (1200 - 320)));
  &__foto{
    margin-right: 10px;
      img{
        max-width: 100%;
        object-fit: cover;
      }
  }
 

  
}
.curcama-product-text{
 &__button{
  font-size:14px;
  justify-content: center;
  text-align: center;
  margin-top:30px;
  span{
    border:2px solid rgb(213, 212, 212); 
    position: relative;
    padding: 10px;
    letter-spacing: 3px;

  }
}

&__button a{
  color:black;
}
}
.head-name{
  font-size:24px;
}
.body-text{
  margin-top:15px;
  font-size: 18px;
}

// <!-------FOOTER------------- -->
.footer{
  display: flex;
  margin-top: 100px;
  height:300px;
  text-align: left;
  justify-content: center;
  background-color: #f7f7f9;
  padding:10px;
  .column-contact{
    flex-basis: 600px;
    color:#936100;
padding-top: calc(20px + (100 - 20) * ((100vw - 320px) / (1200 - 320)));
  }
  .unter{
    letter-spacing: 0.75em;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .column-hilfe{
    flex-basis: 600px;
    padding-top: calc(20px + (100 - 20) * ((100vw - 320px) / (1200 - 320)));
    color:#936100;
  }
  .paragraph{
    font-size: 12px;
    padding-top:10px;
  }
}








@import "media-curcama.scss" ;

@import "media-header.scss" ;