@import "fonts";
@import "header.scss";
@import "zeroing.scss";



.top {
  margin-top: 200px;
}

@media (max-width: 768px) {
  .top {
    margin-top: 80px;
  }
}
%brcontent {
  max-width: 1180px;
  padding: 0 10px;
}

.container-b {
  display: flex;
  justify-content: center;
  text-align: center;
  &__text {
    @extend %brcontent;
  }
}

.container-text {
  margin-top: 100px;
  &__bdy {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .foto{
    max-width: 590px;
    img {
      max-width: 100%;
    }
  }
 
  .text {
    display: flex;
    justify-content: center;
   text-align: center;
    font-size: 20px;
   
  }
  .text p {
    line-height: 1.5;
    margin-top: 10px;
  }
}

a{
    text-decoration: none;
  }

.btn{
    display:inline-flex;
    padding:  0px 0px;
    position: relative;
    background-color: #F7B72A;
    height: calc(25px + (35 - 25) * ((100vw - 320px) / (1200 - 320)));
    width: calc(50px + (100 - 50) * ((100vw - 320px) / (1200 - 320)));
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    color:black;
    font-size:  calc(8px + (14 - 8) * ((100vw - 320px) / (1200 - 320)));
    span{
    display:block;
    position: relative;
    padding-top: 10px;
    }
    
  }
.button-rezept{
    margin-top: 15px;
    display: flex;
    justify-content: center;

    &__btn{ 
        width:  calc(75px + (150 - 75) * ((100vw - 320px) / (1200 - 320)));
       
      }
  }
    
    


@import "media-curcama.scss";

@import "media-header.scss";
